
.section-steps {
    background-color: #f4f4f4;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
}


.steps-box:last-child {
    margin-top: 50px;
    padding-left: 3%;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}

.works-step div{
    color: #e67e22;
    display: inline-block;
    border: 2px solid #e67e22;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 5px;
    font-size: 120%;
    float: left;
    margin-right: 25px;
}

.btn-app-download img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/*-----section cities----------*/

.cities-photo img {
    height: auto;
    width: 100%;
    margin-bottom: 15px;
}

.city-features {
    line-height: 145%;
}

.section-cities h3 {
    font-weight: 300;
}

/*-------TESTIMONIALS------------*/

.section-testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/resources/img/back-customers.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
    color: #fff;
    background-attachment: fixed;
}

.testimonial-info {
    font-style: italic;
    line-height: 145%;
    font-size: 100%; 
}

.testimonial-info:before {
    content: "\201C";
    font-size: 400%;
    font-style: italic;
}

.testimonial-text {
    margin: 5px 0;
}


.customer-info img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: inline;
    vertical-align: middle;
    margin-right: 15px;
}


/*---------PLANS-----------*/

.section-plans {
    background-color: #f4f4f4;
}

.plan-box {
    background-color: #fff;
    width: 90%;
    margin-left: 5%;
    border-radius: 5px;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #f4f4f4;
}

.plan-box h3 {
    font-weight: 300;
}


.plan-box ul li {
    list-style: none;
    line-height: 145%;
}

.plan-box span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price {
    font-size: 300%;
    font-weight: 100;
    color: #e67e22;
}

.price-per-meal {
    
}

.plan-signup {
    text-align: center;
}


/*------CONTACT FORM--------------------*/

.contact-form {
    width: 60%;
    margin: 0 auto;
    font-size: 120%;
    font-weight: 300;    
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #cbcbcb;
    font: inherit;
}

input[type=checkbox] {
    margin-right: 10px;
}

/*-----section footer----------*/

.section-footer {
    background-color: #555555;
    background-attachment: fixed;
}

.nav-footer li {
    display: inline;
    margin-left: 20px;
    list-style: none;
}

.nav-footer li a:link,
.nav-footer li a:visited {
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    text-transform: uppercase;
}

.nav-footer li a:hover,
.nav-footer li a:active {
    border-bottom: 1px solid #e67e22;
    padding-bottom: 8px;
    transition: border-bottom 0.2s;
}

.footer-copyright {
    text-align: center;
    color: #fff;
    font-size: 80%;
}

