.logo {
    height: 100px;
    float: left;
    width: auto;
    margin-top: 20px;
}

.main-nav {
    list-style: none;
    float: right;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;

}

.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    text-transform: uppercase;

}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 1px solid #e67e22;
    padding-bottom: 8px;
    transition: border-bottom 0.2s;
}
